<!DOCTYPE HTML>
<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/api/login" method="POST">
      <input type="text" name="username" />
      <input type="text" name="password" />
      <input type="submit" value="新增" />
    </form>
    <ul>
      <% for(var i=0; i<todos.length; i++) {%>
      <li><%= todos[i].get('username') %>,<%= todos[i].get('password') %></li>
      <% } %>
    </ul>
  </body>
</html>
