<!DOCTYPE HTML>
<html>
  <head>
    <title>wechat demo</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <a href="/todos">todo demo</a><br>
    <a href="/wechat">wechat demo</a>
  </body>
</html>
